<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">For Belle</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">This Week</a></li>
					<li><a href="/values" class="link">Random Things</a></li>
					<li><a href="/post" class="link">Posts</a></li>
					<li><a href="/contact" class="link">Talk To Me</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Try This Baby</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Make a Request</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
