<div id="love-message"></div>

<script>
  const loveMessages = [
    "You make my heart skip a beat.",
    "I love the way you make me feel.",
    "I can't imagine my life without you.",
    "Being with you is the best thing that ever happened to me.",
    "I fall in love with you more and more every day.",
    "You are my sunshine on a rainy day.",
    "I'm so grateful to have you in my life.",
    "I love you to the moon and back.",
    "You complete me in every way possible.",
    "My heart beats for you and you alone.",
    "You are the missing piece of my puzzle.",
    "My heart is overflowing with love for you.",
    "I feel so lucky to be with you.",
    "You are the reason for my happiness.",
    "I love how we can be ourselves around each other.",
    "You make my life so much better.",
    "I can't wait to spend the rest of my life with you.",
    "You are the most amazing person I know.",
    "I love the way you laugh and smile.",
    "You are my forever and always."
  ];
  
  const loveMessage = loveMessages[Math.floor(Math.random() * loveMessages.length)];
  
  document.getElementById("love-message").innerHTML = loveMessage;
</script>
