<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
<style> 
.LogoLeft { 
    float: left; 
    width: 261px;  
    padding: 10px; 
} 
</style> 
	<a href="/">
		<img src="/img/logo.svg" alt="Kaldi logo" class="LogoLeft"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">This Week</a></li>

		<li><a href="/values" class="pa3 no-underline db">Random Things</a></li>

		<li><a href="/post" class="pa3 no-underline db">Posts</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Talk To Me</a></li>
		
		<li><a href="/ticket" class="pa3 no-underline db">Tickets</a></li> 
	</ul>

</nav>
