{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<center><div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>

<center><img src="img/Dress1.jpg" alt="" class="b f4 di lh-title mb3 white mw6 bg-primary" width="360" height="360"></center>
<center><div class="form-style-3">
<form name="DressOneEmo" netlify>
{{ partial "yesno" }}
</form></div></center>

<br></br>

<center><img src="img/Dress2.jpg" alt="" class="db mb2 bg-primary" width="360" height="360"></center>
<center><div class="form-style-3">
<form name="DressTwoSatin" netlify>
{{ partial "yesno" }}
</form></div></center>
</center>
{{ end }}
