{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "songofday" }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

<center><div class="mw7 relative bg-fix-primary">
        
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          Watch me work, and get absolutely no bitches
        </p>
        
      </div>
<p><iframe width="80%" height="315"
src="https://www.youtube.com/embed/aZW1KobncW8">
</iframe></p></center>

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Random Stuff" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ end }}
