{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "songofday" }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

<center><p class="db mb2 bg-primary"> Watch Me Working :) </p>
<p><iframe width="80%" height="315"
src="https://www.youtube.com/embed/UhY6x422KtI">
</iframe></p></center>

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ end }}
